body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.search-area{
    width: 550px;
    height: 50px;
    margin-left: 300px;
    /* margin-top: 50px; */
}
.search-button{
    width: 80px;
    height: 45px;
}