.title{
    margin: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.mealImg{
    width: 200px;
}
.meal{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}